  html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
  
  body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat';
    font-weight: 300;
    height: 100%;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; 
  
  }


  .login{
    vertical-align: middle;
    text-align: center;
  }
  .loginContainer{
    position: relative;
    display: block;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 1px;
    overflow: hidden;


  }
  